{% extends "base.html" %}


{% block content %}


  <!-- Page Header -->
  <header class="masthead" style="background-image:  url({{ url_for('static', filename='img/500.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1></h1>
            <span class="subheading">
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-md-10 ms-auto">

        <div class="post-preview">
            <h2 class="post-title">
           Something went wrong! (500)
            </h2>
            <span class="subheading"> We are experiencing some trouble on our end. Please try again in the near future!</span>
</div>
        </div>
      </div>
    </div>
<br>
<hr>

{% endblock %}